@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
	--shade_logo: #02b3e4;
	--shade_text: #2d3c49;
	--shade_border: #7d97ad;
}

* {
	margin: 0; padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', Helvetica, Arial, sans-serif;
	color: var(--shade_text);
}

header {
	width: 100%;
	border-bottom: 4px solid var(--shade_border);
}

.logo {
	width: 50px;
}