@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
	--shade_logo: #02b3e4;
	--shade_text: #2d3c49;
	--shade_border: #7d97ad;
}

* {
	margin: 0; padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', Helvetica, Arial, sans-serif;
	color: var(--shade_text);
}

#wrapper {
	width: 90%;
	margin: 0 auto;
}

header {
	/* width: 100%; */
	height: 150px;
	border-bottom: 4px solid var(--shade_border);
	display: flex;
	margin-bottom: 35px;
}

.logo {
	width: 75px;
	
}
.title {
	width: 250px;
	flex-grow: 8;
	align-self: center;
	text-align: right;
	text-transform: uppercase;
}
.title h1 {
	font-size: 3em;
}
.title h2 {
	font-size: 1.25em;
}

#hero {
	height: 400px;
	overflow: hidden;
	margin-bottom: 35px;
}
#hero img {
	width: 100%;
}

#featured {

}

#featured h3 {
	font-size: 2em;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	/* flex-direction: row; */
}
article {
	flex: 30%; /* 1 or 30% */
	justify-content: space-between;
}
article img {
	width: 100%; /* required for flexing to work */ /* TODO: not all same height, spacing in between */
}
article > h4 {
	text-transform: uppercase;
	text-align: center;
	font-size: 2em;
}
article > p {
	text-align: center;
}
article > p > a {
	text-decoration: none;
}

@media only screen and (max-width: 850px) {

} /* 670, 561 */